@use '../custom'as *;

footer {

    width: 100%;
    background-color: $brown-dark;

    .container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        img {
            width: 60px;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-left: 30px;
            padding: 10px 0 5px;
            position: relative;

            a {
                text-decoration: none;
                color: $brown-light;
                padding-bottom: 3px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1.5px;
                width: 0%;
                transition: all 0.2s ease-in;
            }

            &:hover::after {
                width: 100%;
                background: $brown-light;
            }
        }
    }
}

@media (max-width:768px){
    footer{
        .container{
            flex-direction: column;
        }

        .logo{
            padding-top: .5rem;
        }

        ul{
            flex-direction: column;

            li{
                margin-left: 0;
            }
        }
    }
}